// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//SCSS
.main {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.content {
    max-width: 1000px;
    margin: 0 auto;
}
.title{
    text-align: center;
    line-height: 1.5;
}
.button{
    font-size: 20px;
    padding: 7px 14px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: rgb(255, 196, 0);
}
.number{
    border: 1px solid #000;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.square {
    padding: 50px 0;
		&__input {
            display: flex;
            flex-direction: column;
            align-items: center;
		}

}

.rectangle {
    &__input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
    }

    &__get {
        padding: 10px 0;
    }

    &__subtitle {
        text-align: center;
        font-size: 14px;
    }

    &__number {
    }

    &__button {
    }

    &__output {
    }

    &__perimetr {
    }

    &__area {
    }
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}